<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>673304542208-urp269mf0n6t7vjk1val798iusn26q5d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.673304542208-urp269mf0n6t7vjk1val798iusn26q5d</string>
	<key>API_KEY</key>
	<string>AIzaSyCZXtBtI-CGi1I0QnBuDXsp5pqTtqex7Ds</string>
	<key>GCM_SENDER_ID</key>
	<string>673304542208</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.eyupgoymen.FamilyTracking</string>
	<key>PROJECT_ID</key>
	<string>familytrack-1567762980409</string>
	<key>STORAGE_BUCKET</key>
	<string>familytrack-1567762980409.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:673304542208:ios:31827efff53cc4b522ece5</string>
	<key>DATABASE_URL</key>
	<string>https://familytrack-1567762980409.firebaseio.com</string>
</dict>
</plist>